<!DOCTYPE html>
<html>
<head>
	<title>Buyan Li Intro</title>
	<link rel="stylesheet" type="text/css" href="../Public/css/indexStyle.css">
</head>
<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<div class="logo">
				<a href="./index-eng.html"><p>Buyan Li</p></a>
			</div>

			<div class="language">
				<p><a href="./aboutme.html">E</a>/<a href="./aboutme-cn.html">中</a></p>
			</div>
		</div>

		<hr class="seperator 100%">

		<!-- about me -->

		<div class="intro">
			<h1>About Me</h1>
			<p>Hi there, I'm Buyan, currently a master student at the University of Melbourne. </p>
			<p>My major is <b>MIT(HCI)</b>, which is Master of Information Technology(Human-Computer Interaction), love it so much and try my best to make it my life-long passion.</p>
			<p>Its my third semester at uni already, so I'll spend my summer at melb and try to find myself an internship, which will not be a easy thing.</p>
			<p>But it will be my first job, I've got a interview offer on 19 Nov, I'll force myself to get a pass!!!</p>
			<p>I can do web development, basically on Nodejs and HTML/CSS, and thanks to HCI, I can do design and prototyping, which is somehow related to user experience(UX) as well.</p>
			<p>What I've done recently is a VR reading project, which somehow intrigued me in game developing, using Unity, specifically. But I'm not really a game-fan, so I'll see how this one goes :).</p>
			<p>About my <b>future path</b>, I'm still hesitating between UX designer and full-stack developer, but I think I can find a way connect those two.</p>
		</div>

		<div class="socialmedia">
			<p>You can also find me at:</p>
				<a href="https://www.instagram.com/buyan.li/"><img src="../Public/img/instagram-color.svg"></a>
				<a href="https://pin.it/y4vms2r6xb22it"><img src="../Public/img/pinterest-color.svg"></a>
		</div>

	</div>

</body>
</html>