<!DOCTYPE html>
<html>
<head>
	<title>Buyan Li Intro</title>
	<!-- responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 1024px) and (max-device-width: 2000px)" href="../Public/css/indexStyle.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-device-width: 600px)" href="../Public/css/indexStyle-tinyscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1024px)" href="../Public/css/indexStyle-midscreen.css" />
</head>
<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<div class="logo">
				<a href="./index-cn.html"><p>李步妍</p></a>
			</div>

			<div class="language">
				<p><a href="./aboutme.html">EN</a> / <a href="./aboutme-cn.html">中</a></p>
			</div>
		</div>

		<hr class="seperator 100%">

		<!-- about me -->

		<div class="intro">
			<h1>关于我</h1>
			<p>你好呀，我是步妍，出生于中国长沙，现在是墨尔本大学的在读研究生。 </p>
			<p>我在墨大攻读的是 <b>MIT(HCI)</b>，是人机交互方向的信息技术硕士专业，当初因为特别喜欢UX（用户体验），所以特意转到这个专业。</p>
			<p>我的硕士已经读到第三学期啦，所以最后这个暑假很想很想很想要找到一个实习机会，很难，收了很多拒信了，但是还在坚持✊。 </p>
			<p>第一次总是很难的，但是11.19的时候意外收到了一个面试邀请，超激动，很想过，刷题并且泡图书馆努力中。</p>
			<p>我做过好几个写网站的项目了，有用过python也用过轻量的nodejs，前端全是HTML/CSS写的。然后学了一年HCI之后，也会用户体验测试，做原型设计，经常在队友里的角色就是一个自己都烦的，沉迷细节的产品经理。总之能做用户体验相关的事情就很开心。</p>
			<p>我最近做了一个VR阅读的项目，是用unity做的，全程都是自己的设计自己的代码，觉得写游戏好像也挺有意思，不过还在探索阶段。</p>
			<p>关于 <b>未来计划</b>，其实我还在全栈工程师和用户体验设计师的目标之间徘徊，但这两者，只是做一个产品的不同阶段，个人认为是完全可以结合起来的，并且在为之努力中。</p>
		</div>

		<div class="socialmedia">
			<p>我的其它社交媒介</p>
				<a href="https://www.instagram.com/buyan.li/"><img src="../Public/img/Instagram-color.svg"></a>
				<a href="https://pin.it/y4vms2r6xb22it"><img src="../Public/img/Pinterest-color.svg"></a>
				<a href="https://www.linkedin.com/in/buyan-li-857322161/"><img src="../Public/img/LinkedIn-color.svg"></a>
				<a href="https://github.com/buyanli95"><img src="../Public/img/Github-color.svg"></a>
		</div>

	</div>

</body>
</html>