<!DOCTYPE html>
<html>
<head>
	<title>Buyan Li</title>
	<!-- responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 1024px) and (max-device-width: 2000px)" href="../Public/css/indexStyle.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 200px) and (max-device-width: 601px)" href="../Public/css/indexStyleTinyscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1025px)" href="../Public/css/indexStyleMidscreen.css" />
	<style type="text/css">
		body {
			background-color: #f4f4f4;
		}
	</style>

<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="../index.html"><p>Buyan Li</p></a>
			</div>
			<!-- <div class="rightBar"> -->
				<div class="rightBar">
				<div class="project">
					<p><a href="../index.html">Portfolio</a></p>
				</div>
				<div class="about">
					<p><a href="" style="border-bottom: 0.1em solid rgba(66, 66, 66, 0.6);padding-bottom: 0.1em;">About</a></p>
				</div>
			</div>
		</div>

		<!-- about me -->

		<div class="intro">
			<div class="profile-grid">
				<h1>About Me</h1>
				<img src="../Public/img/profile-linkedin.jpg" alt="Avatar" class="avatar">
			</div>
			<p>Hi there, I'm Buyan, also known as Sophie! One of the rare UX/Development unicorn you can ever know!</p>
			<p>
				- Bachelor degree in Computer Science and Technology<br>
				- Master degree in IT (Human-Computer Interaction)<br><br> Very challenging major but with lots of fun. However, I found myself more interested in the user-side of things so I made a decision to study on HCI, from which I found the UI/UX specialisation very intriguing and from what I experienced, I'm good at it!</p>
			<p>Apart from that, I can do web development, basically on front-end, using javascript and HTML/CSS, and thanks to HCI, I can also do design, prototyping and user testing, which is also related to user experience(UX) as well.</p>
			
			<p>Design and creative process excites me, and bringing a better experience to people’s lives is what I want to achieve every day. So I'm looking for an opportunity to make a real impact with people who are genuinely doing things differently!</p>

			<div style="text-align: center;">
				<br><p id="subtitle" style="font-size: 1em; position: relative;">Contact number: 0415724988</p>
			<p id="subtitle" style="font-size: 1em; position: relative; ">Contact email: buyanli95@gmail.com</p>
			<p style="font-size: 1em; position: relative;"><a href="https://www.behance.net/gallery/88693903/Mmucho-Warehouse-Package-Manage-System" target="_blank">Blog: Design Thinking</a>, <a href="https://www.behance.net/gallery/88693861/CORING-LUXURY-Landing-Page" target="_blank">Responsive Websites</a></p>
			<p style="font-size: 1em; position: relative;"><a href="https://www.canva.com/design/DADx9z4Olos/GIabtgd53rCP8TmbQaYe3A/view?utm_content=DADx9z4Olos&utm_campaign=designshare&utm_medium=link&utm_source=homepage_design_menu" target="_blank">Additional Content: Canva</a></p>

			<p style="font-size: 1em; position: relative;"><a href="../Public/files/Buyan (Sophie) Li CV.docx">Click to download my updated CV</a></p><br>

			</div>
			
		</div>

		<!-- make sure the file name is correct(local-did-not-detect-capital-words but git-did) -->
		<div id="social" style="position: relative; left: 0%;">
			<p>You can also find me at:</p>
				<a href="https://www.behance.net/buyanli" target="_blank"><img src="../Public/img/behance.svg"></a>
				<a href="https://pin.it/y4vms2r6xb22it" target="_blank"><img src="../Public/img/Pinterest-color.svg"></a>
				<a href="https://www.linkedin.com/in/buyan-sophie-li-857322161/" target="_blank"><img src="../Public/img/LinkedIn-color.svg"></a>
				<a href="https://github.com/buyanli95" target="_blank"><img src="../Public/img/Github-color.svg"></a>
				<a href="mailto: buyanli95@gmail.com" target="_blank"><img src="../Public/img/Google-color.svg"></a>
		</div>

	</div>

</body>
</html>