<!DOCTYPE html>
<html>
<head>
	<title>Buyan Li</title>
	<!-- responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 1024px) and (max-device-width: 2000px)" href="../Public/css/indexStyle.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 200px) and (max-device-width: 601px)" href="../Public/css/indexStyleTinyscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1025px)" href="../Public/css/indexStyleMidscreen.css" />

<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="../index.html"><p>Buyan Li</p></a>
			</div>
			<!-- <div class="rightBar"> -->
				<div class="rightBar">
				<div class="project">
					<p><a href="../index.html">Portfolio</a></p>
				</div>
				<div class="about">
					<p><a href="" style="border-bottom: 0.1em solid rgba(66, 66, 66, 0.6);padding-bottom: 0.1em;">About</a></p>
				</div>
			</div>
		</div>

		<!-- about me -->

		<div class="intro">
			<h1>About Me</h1>
			<p>Hi there, I'm Buyan, born in China, just finished my master study at the University of Melbourne. </p>
			<p>I studied in <b>Master of IT(HCI)</b>, which is the Master of Information Technology(Human-Computer Interaction), I love it so much and I'm trying my best to make it a life-long passion.</p>
			<p>My bachelor degree is in Computer Science and Technology, a very challenging major but with lots of fun. However, I found myself more interested in the user-side of things so I made a decision to study on human-computer interaction, from which I found the UX design very intriguing and I want to make it my next try, as a job.</p>
			<p>Apart from that, I can do web development, basically on Nodejs and HTML/CSS, and thanks to HCI, I can also do design and prototyping, which is somehow related to user experience(UX) as well.</p>
			<p>What I've done recently is a VR reading project, which involves a number of interaction between user and virtual space and objects. Seeing how people react to those novel applications and helping them gradually understand virtual reality is really a motivation for product design and development.</p>
			<p>About my <b>career arrangement</b>, I've graduated now so I'm looking for UX designer or Interaction designer jobs.</p>
		</div>

		<!-- make sure the file name is correct(local-did-not-detect-capital-words but git-did) -->
		<div id="social">
			<p>You can also find me at:</p>
				<a href="https://www.instagram.com/buyan.li/"><img src="../Public/img/Instagram-color.svg"></a>
				<a href="https://pin.it/y4vms2r6xb22it"><img src="../Public/img/Pinterest-color.svg"></a>
				<a href="https://www.linkedin.com/in/buyan-li-857322161/"><img src="../Public/img/LinkedIn-color.svg"></a>
				<a href="https://github.com/buyanli95"><img src="../Public/img/Github-color.svg"></a>
				<a href="mailto: buyanli95@gmail.com"><img src="../Public/img/Google-color.svg"></a>
		</div>

	</div>

</body>
</html>