<!DOCTYPE html>
<html>
<head>
	<title>Buyan Li</title>
	<!-- responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 1024px) and (max-device-width: 2000px)" href="../Public/css/indexStyle.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 200px) and (max-device-width: 601px)" href="../Public/css/indexStyleTinyscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1025px)" href="../Public/css/indexStyleMidscreen.css" />
</head>

<body>
	<div class="container">
		<!-- topbar -->
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="../index.html"><p>Buyan Li</p></a>
			</div>
			<div class="rightBar">
				<div class="project">
					<p><a href="../index.html">Portfolio</a></p>
				</div>
				<div class="about">
					<p><a href="../Views/aboutme.html">About</a></p>
				</div>
				
			</div>
		</div>

		<div class="projects" id="vrread">
			<h1>Fieldwork Design <br>for <br>Grainger Museum</h1>

			<div style="display: inline-block; background-color: #f4f4f4;" class="project-sec">
				
			<h2>Project Announcement</h2>
			<p>This project is under the supervision of the University of Melbourne, specifically under the course INFO90004 Fieldwork For Design that is part of the Master of Information Technology degree.</p>
			<p id="subpara"><b>Colleague</b>: <a href="https://www.charlesw.cn/">Chao Wang</a>, <a href="mailto: wwang17@student.unimelb.edu.au">Wei Wang</a>, <a href="http://chelseawei.com">Chunxue Wei</a></p>
			<p id="subpara"><b>Skills</b>: Fieldwork investigation, Prototyping</p>
			<p id="subpara"><b>Supervised by</b>: <a href="https://www.jwaycott.com/">Jenny Waycott</a></p>

			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>Project Motivation</h2>
				</div>
				<div class="right">
					<p>The Grainger’s museum is a repository of collections documenting the life and career of Percy Grainger, who is an artist, musician, and educator, with extremely wide interests and expertise. The museum has a major part exhibiting Percy’s collections, and about a half part used for temporary exhibitions. The temporary exhibition is usually based on a topic that somehow related to Percy Grainger himself, and usually has been used for a promotion to attract more visitors to the museum.</p>
				</div>
			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>Investigation Methods</h2>
				</div>
				<div class="right">
					<p>We interviewed the Grainger Museum visitors and conduct interviews about their experience for their visit, and also interviewed museum staffs and volunteers who work there, to find out what they think this museum needs and don't needs.</p>

					<p>We've spent a week visiting the museum and observe the visitors and staffs without disturbing them because we want to avoid some disconnection between what our interviewees words and their behaviours.</p>

					<p>We also visited other galleries and museums in Melbourne, to see what those museums have done on novel interaction techniques so we can come up something new and even better.</p>
				</div>
			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2><br>Key Findings & Analysis</h2>
				</div>
				<div class="right">

					<p>For visitors, we found that they have very different ages & preferences, which means this museums attracts people from all the different ages, which is great. Also, most of them found the museum is good enough, only some first-commers think they could use some tour guidance, which usually provided by one of the staffs on the counter.</p>

					<p>While for staffs and volunteers, the most frequent comments we gathered is that they're hard to get effective feedbacks from visitors. The museum has a visitor book for visitors to leave comments and signatures, from which we found quite a lot comments on it and most of them are positive. What bothers them is the feedback system on an ipad that they have to hand to visitors and watch them fill it all.</p>

					<div style="display: inline-block;">
						<img style="max-width: 40%; max-height: 40%; margin-left: 0em;" src="../Public/img/fod-2.png">
						<img style="max-width: 45%; max-height: 45%; margin-left: 0em;" src="../Public/img/fod-1.png">
					</div>
					
				</div>
			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2><br>Visitor Personas</h2>
				</div>
				<div class="right" style="display: inline-block;">

					<img style="max-width: 40%; max-height: 40%; margin-left: 0em; box-shadow: 3px 3px 5px 6px #ccc;" src="../Public/img/cindy.png">
					<p>Cindy is 60 years old, retired, she used to study music at the conservatory, she loves the museum sinceshe was a student, and she usually just take some pictures when she visits.</p>
					<img style="max-width: 40%; max-height: 40%; margin-left: 0em; box-shadow: 3px 3px 5px 6px #ccc;" src="../Public/img/bob.png">
					<p style="max-width: 90%;">Bob is 33 years old, he heard about Percy Grainger from his grandfather but he didn’t know about the museum until he saw the promotion Synthetic, he enjoyed the tour and will come back in the future. </p>
				</div>
			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2><br>Paper Prototype</h2>
				</div>
				<div class="right">
					<div class="video">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/VzYhq6GLbtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p>This video demonstrate our design for the museum, a web-based tour guidance(i.e. No need to download an app), which can be accessed by WIFI, hyperlink or scan a QR code. <br><br>Panorama photos are provided, showing museum exhibitions and areas, each of the exhibits will have brief context intro, both in text and audio. Visitors can leave comments and feedbacks using their own devices, or choose to complete the post-tour questionnaire on the museum's website.</p>
				</div>
			</div>

			<div id="social" style="background-color: #f4f4f4;">
				<p style="max-width: 100%;">For any question, pls email me: <a href="mailto: buyanli95@gmail.com"><img src="../Public/img/Google-color.svg"></a></p>
			</div>

			

	</div>
</body>
</html>