<!DOCTYPE html>
<html>

<head>
	<title>Buyan Li</title>

	<link rel="stylesheet" type="text/css" href="../Public/css/indexStyle.css">
</head>

<body>
	<div class="container">

		<!-- topbar -->
		<div class="topbar">
			<div class="logo">
				<a href="./index-cn.html"><p>李步妍</p></a>
			</div>

			<div class="language">
				<p><a href="../index.html">E</a> / <a href="./index-cn.html">中</a></p>
			</div>
		</div>

		<hr class="seperator 100%">

		<!-- introduction -->
		<div class="aboutMe" id="aboutMe">
				<a href="./aboutme-cn.html"><img  src="../Public/img/AboutMe-cn.svg" alt="About Me" ></a>
		</div>

		<!-- key content -->
		<div class="index">
				<a href="./projects-cn.html"><img src="../Public/img/title-project-cn.svg" alt="Projects"></a>
				<!-- <a href="./practices-cn.html"><img src="../Public/img/title-sketches-cn.svg" alt="Sketches"></a> -->
				<a href="./upcoming-cn.html"><img src="../Public/img/title-upcoming-cn.svg" alt="Up coming"></a>
		</div>
	</div>

</body>
</html>