<!DOCTYPE html>
<html>

<head>
	<!-- 7:40 index in /views-->
	<title>Buyan Li</title>

	<link rel="stylesheet" type="text/css" href="../Public/css/indexStyle.css">
</head>

<body>
	<div class="container">

		<!-- topbar -->
		<div class="topbar">
			<div class="logo">
				<a href="./index.html"><p>Buyan Li</p></a>
			</div>

			<div class="language">
				<p><a href="./index.html">E</a>/<a href="../Views/index-cn.html">中</a></p>
			</div>
		</div>

		<hr class="seperator 100%">

		<!-- introduction -->
		<div class="aboutMe" id="aboutMe">
				<a href="./aboutme.html"><img  src="../Public/img/AboutMe.svg" alt="About Me" ></a>
		</div>

		<!-- key content -->
		<div class="index">
				<a href=""><img src="../Public/img/title-project.svg" alt="Projects"></a>
				<a href=""><img src="../Public/img/title-sketches.svg" alt="Sketches"></a>
				<a href=""><img src="../Public/img/title-upcoming.svg" alt="Up coming"></a>
		</div>
	</div>
	
	<!-- <script type="text/javascript">
		function myIntro(){
			var aboutMe = document.getElementById("aboutMe");
			var textIntro = document.getElementById("textIntro");
			if(aboutMe.style.display === "none"){
				aboutMe.style.display = "block";
				textIntro.style.display = "none";
			}
		}
	</script> -->

</body>
</html>