<!DOCTYPE html>
<html>

<head>
	<title>Buyan Li</title>

	<link rel="stylesheet" type="text/css" href="../Public/css/indexStyle.css">
</head>

<body>
	<div class="container">

		<!-- topbar -->
		<div class="topbar">
			<div class="logo">
				<a href="./index-cn.html"><p>李步妍</p></a>
			</div>

			<div class="language">
				<p><a href="../index.html">E</a> / <a href="./index-cn.html">中</a></p>
			</div>
		</div>

		<hr class="seperator 100%">

		<!-- key content -->
		<div class="index">
				<!-- introduction -->
				<a href="./projects.html"><img src="../Public/img/title-projects-cn2.svg" alt="Projects" id="indexcontent-cn"></a>
				<a href="./aboutme.html" ><img src="../Public/img/AboutMe-cn.svg" alt="About Me" id="aboutme-cn"></a>
				<a href="./upcoming.html"><img src="../Public/img/title-upcoming-cn2.svg" alt="Up coming" id="indexcontent-cn"></a>
		</div>
	</div>

</body>
</html>