<!DOCTYPE html>
<html>
<head>
	<title>Buyan - Projects</title>
	<link rel="stylesheet" type="text/css" href="../Public/css/indexStyle.css">
</head>
<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="../index.html"><p>Buyan Li</p></a>
			</div>
			<!-- language selector -->
			<div class="language">
				<p><a href="">E</a> / <a href="../Views/projects-cn.html">中</a></p>
			</div>
		</div>
		<!-- seperator line -->
		<hr class="seperator 100%">

		<!-- projects -->
		<div class="projects">
			<!-- vr reading project -->
			<div style="display: inline-block;" class="project-sec">
				<h1>Projects</h1>
				<div class="left">
					<h2>
						Reading Experience in Virtual Reality
						<p id="subtitle" >July 2018 - November 2018,  Melbourne</p>
					</h2>
				</div>

				<div class="right">
					<p>The project is to design and implements a reading interface in a virtual environment, which is meant to be different from paper reading or digital reading. It is an immersive environment with a panoramic visual environment, sound effects, and haptic feedback. The VR reading environment is built on the PC platform and has used the Oculus Rift for VR implementation.</p>
					<p><b>Skills</b>: Unity, C#, Oculus Rift, Prototyping, User study</p>
					<p>Learn more: 
					<a href="https://youtu.be/oOyPBuLZEpA"><img src="../Public/img/Youtube-color.svg"></a>
					<a href="https://github.com/buyanli95/GiantIsland"><img src="../Public/img/Github-color.svg"></a></p>
				</div>
			</div>

			<!-- Social Computing App Interface Design project -->
			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>
						Social Computing App Interface Design 
						<p id="subtitle" >July 2018 - November 2018,  Melbourne</p>
					</h2>
				</div>

				<div class="right">
					<p>The project is meant to design and prototype a collaborative and collocated crowdsourcing platform interface that allows people to complete tasks in groups.</p>
					<p><b>Skills</b>: Prototyping, Sketch, Adobe XD, Usability evaluation</p>
					<p>Colleague: <a href="https://www.charlesw.cn/">Chao Wang</a>, <a href="mailto: wwang17@student.unimelb.edu.au">Wei Wang</a></p>
					<p>Prototype coming soon...</p>
				</div>
			</div>

			<!-- Usability Evaluation for SparkPeople.com project -->
			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>
						Usability Evaluation for <a href="https://www.sparkpeople.com">SparkPeople</a> 
						<p id="subtitle" >April 2018 - June 2018,  Melbourne</p>
					</h2>
				</div>

				<div class="right">
					<p>Plan and conduct an user-based usability evaluation of Sparkpeople website within a group and act as the facilitator in overall 14 usability tests, including 4 tests in the eye-tracking lab and 10 tests in a normal project room.</p>
					<p><b>Skills</b>: Usability evaluation, Interviews, Heuristic Evaluation</p>
					<p>Colleague: Kirsty Fromholtz, Ying Wang, Aneesh Rajiv Sawant</p>
					<p>Learn more: 
					<a href="https://www.youtube.com/watch?v=nlxEzwAQwp8"><img src="../Public/img/Youtube-color.svg"></a>
					</p>
				</div>
			</div>

			<!-- EOS: Web Application Development project -->
			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>
						<a href="https://eos-info30005.herokuapp.com/">EOS</a> - Web Application Development 
						<p id="subtitle" >February  2018 - June 2018,  Melbourne</p>
					</h2>
				</div>

				<div class="right">
					<p>Using HCI processes design and developed a full-stack web application to address an openIDEO challenge “How might we better prepare all learners for the need of tomorrow by reimagining higher education”, aiming at improving mutual understanding between employers and their future employees.</p>
					<p><b>Skills</b>: HTML/CSS, Javascript, Node.js, Express, MongoDB, Gith, Heroku</p>
					<p>Colleague: Zihe Wang, Jiahui Liang</p>
					<p>Learn more: 
					<a href="https://github.com/buyanli95/info30005-Eos"><img src="../Public/img/Github-color.svg"></a>
					</p>
				</div>
			</div>


		</div>
	</div>

</body>
</html>