<!DOCTYPE html>
<html>
<head>
	<title>Buyan - Projects</title>
	<!-- responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 1024px) and (max-device-width: 2000px)" href="../Public/css/indexStyle.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-device-width: 600px)" href="../Public/css/indexStyle-tinyscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1024px)" href="../Public/css/indexStyle-midscreen.css" />
</head>
<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="./index-cn.html"><p>李步妍</p></a>
			</div>
			<!-- language selector -->
			<div class="language">
				<p><a href="../Views/projects.html">EN</a> / <a href="">中</a></p>
			</div>
		</div>
		<!-- seperator line -->
		<hr class="seperator 100%">

		<!-- projects -->
		<div class="projects">
			<!-- vr reading project -->
			<div style="display: inline-block;" class="project-sec">
				<h1>项目经验</h1>
				<div class="left">
					<h2>
						虚拟现实阅读界面的设计实现和测试
						<p id="subtitle" >七月 2018 - 十一月 2018,  墨尔本</p>
					</h2>
				</div>

				<div class="right">
					<p>项目设计并实现了一个在虚拟环境中的阅读界面，该界面不同于传统的纸质阅读和电子书阅读，它是一个拥有沉浸式体验的全景虚拟阅读环境，并引入了声音、触觉效果来制造一种“身临其境”的感觉。该环境基于PC端搭建，使用了Oculus Rift头戴显示设备。</p>
					<p>在首版界面搭建完毕后，本项目随即邀请了12位用户进行了一个用户研究，用以探查该界面的设计缺陷以及评估该界面的用户友好程度。经研究发现，即使该界面仍有待完善，用户对于新型的阅读方式依然抱有有极大的兴趣。因此我们的研究结论是，虚拟阅读的应用，仍旧是一个有极大探索空间的领域。</p>
					<p id="subpara"><b>相关技能</b>: <a href="https://unity3d.com/">Unity</a>, <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a>, <a href="https://www.oculus.com/rift/">Oculus Rift</a>, <a href="https://zh.wikipedia.org/wiki/%E5%8E%9F%E5%9E%8B_(%E5%B7%A5%E7%A8%8B)">原型设计</a>, <a href="https://en.wikipedia.org/wiki/Usability_Evaluation_(Us.E.)">用户可用性研究</a></p>
					<p id="subpara"><b>项目督察员</b>: <a href="http://tilmanification.com/">Tilman Dingler</a>, <a href="https://nielsvanberkel.com">Niels Van Berkel</a>, <a href="mailto: ebabaei@student.unimelb.edu.au">Ebrahim Babaei</a></p>
					<p id="subpara"><b>了解更多</b>: 
					<a href="https://youtu.be/oOyPBuLZEpA"><img src="../Public/img/Youtube-color.svg"></a>
					<a href="https://github.com/buyanli95/GiantIsland"><img src="../Public/img/Github-color.svg"></a>
					<a href="https://docs.google.com/document/d/1PbXvPE84NHDh2lHxEO_-11vqy57aHqDk1lfik4Tl1Og/edit?usp=sharing"><img src="../Public/img/drive-color.svg"></a></p>
				</div>
			</div>

			<!-- Social Computing App Interface Design project -->
			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>
						SortingShop: 社交应用的界面设计 
						<p id="subtitle" >七月 2018 - 十一月 2018 墨尔本</p>
					</h2>
				</div>

				<div class="right">
					<p>该项目设计并构建了一个远程协作众包平台的界面原型设计，该平台能够让用户协同完成组内工作。</p>
					<p>项目灵感来自于<a href="https://en.wikipedia.org/wiki/Affinity_diagram">亲和图法</a>，该方法被广泛用于分析用户需求，且常见于使用便利贴和白板来进行组内讨论。</p>
					<p>考虑到远程协作和环境友好的设计目的，我们设计提出了SortingShop，一个能够让多个用户同时集思广益/头脑风暴的平台，它允许用户基于一个核心话题提交自己的想法/创意，然后将这些提交汇集起来，让每一个用户都能用自己的分类方法进行分类整理，最终将所有人的分类结果整合，分析出一定的规律/趋势，以供组内后续讨论。</p>
					<p>SortingShop的独特性在于，它公平地考虑所有组内用户的想法和分类方法，并且整合所有用户的分类集合，将它们以韦恩图的形式展示出来，其中还包括有争议的、未分类的提交。</p>
					<p id="subpara"><b>相关技能</b>: <a href="https://zh.wikipedia.org/wiki/%E5%8E%9F%E5%9E%8B_(%E5%B7%A5%E7%A8%8B)">原型设计</a>, <a href="https://www.sketchapp.com/">Sketch</a>, <a href="https://www.adobe.com/au/products/xd.html">Adobe XD</a>, <a href="https://en.wikipedia.org/wiki/Usability_Evaluation_(Us.E.)">用户可用性研究</a></p>
					<p id="subpara"><b>合作人</b>: <a href="https://www.charlesw.cn/">王潮</a>, <a href="mailto: wwang17@student.unimelb.edu.au">王魏</a></p>
					<p id="subpara"><b>了解更多</b>: <a href="">原型</a></p>
				</div>
			</div>

			<!-- Usability Evaluation for SparkPeople.com project -->
			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>
						基于<a href="https://www.sparkpeople.com">SparkPeople</a>的用户体验评估
						<p id="subtitle" >四月 2018 - 六月 2018, 墨尔本</p>
					</h2>
				</div>

				<div class="right">
					<p>该项目计划并实施了一个基于用户的可用性研究，研究对象是Sparkpeople.com网站，一共随机选取了14位新用户进行了研究，其中四场在<a href="https://cis.unimelb.edu.au/research/groups/interaction-design/">墨尔本大学交互设计实验室</a>（提供视线追踪装置）进行，另外十场在普通会议室进行。</p>
					<p>该研究旨在针对SparkPeople网站的关键功能来进行评估，而这些关键功能旨在帮助网站用户保持身体和饮食健康。研究人员提供具体任务给用户，用户需要使用网站的关键功能来完成这些任务，而研究人员将观察用户完成这些任务的情况，以此识别其设计上的缺陷和可改进之处。</p>
					<p>除了评估每个功能的用户可用性之外，该研究仅将目标用户集中在SparkPeople的新用户上，并且了解他们继续使用这个网站的可能性。研究过程中包括一系列的定性和定量测量，例如操作的错误率和成功率，完成任务的时间，用户完成任务期间的点击次数和打开页面的数量，用户的反馈以及满意情况</p>
					<p></p>
					<p id="subpara"><b>相关技能</b>: <a href="https://en.wikipedia.org/wiki/Usability_Evaluation_(Us.E.)">用户可用性研究</a>, <a href="https://www.usability.gov/how-to-and-tools/methods/individual-interviews.html">用户访问</a>, <a href="https://zh.wikipedia.org/wiki/%E5%90%AF%E5%8F%91%E5%BC%8F%E8%AF%84%E4%BC%B0">启发式评估</a></p>
					<p id="subpara"><b>合作人</b>: <a href="mailto: kfromholtz@student.unimelb.edu.au">Kirsty Fromholtz</a>, <a href="mailto: yingw14@student.unimelb.edu.au">汪莹</a>, <a href="mailto: sawanta@student.unimelb.edu.au">Aneesh Rajiv Sawant</a></p>
					<p id="subpara"><b>了解更多</b>: 
					<a href="https://www.youtube.com/watch?v=nlxEzwAQwp8"><img src="../Public/img/Youtube-color.svg"></a>
					</p>
				</div>
			</div>

			<!-- EOS: Web Application Development project -->
			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>
						<a href="https://eos-info30005.herokuapp.com/">EOS</a> - Web应用的设计开发 
						<p id="subtitle" >二月  2018 - 六月 2018,  墨尔本</p>
					</h2>
				</div>

				<div class="right">
					<p>EOS是一个基于网页的应用，它旨在帮助高等教育学府的学生为未来职业道路做好准备，增进雇主与未来潜在雇员的互动机会和相互理解。</p>
					<p>By using HCI processes design methods, this project has designed and developed a full-stack web application to address an <a href="https://challenges.openideo.com/challenge">openIDEO challenge</a>: “How might we better prepare all learners for the need of tomorrow by reimagining higher education”.</p>
					<p>通过使用HCI流程设计方法（采集用户需求，整理分析用户痛点，设计并实现产品，用户测试和产品改进升级），该项目设计并开发了一个全栈式Web应用程序，以解决发布在openIDEO上的挑战之：“我们如何通过重新构想高等教育，以此来更好地为所有学习者做好准备，以满足未来的需求”。</p>
					<p id="subpara"><b>相关技能</b>: HTML/CSS, Javascript, Node.js, Express, MongoDB, Gith, Heroku</p>
					<p id="subpara"><b>合作人</b>: <a href="mailto: zihew@student.unimelb.edu.au">王子禾</a>, <a href="mailto: jiahuil7@student.unimelb.edu.au">梁嘉慧</a></p>
					<p id="subpara"><b>了解更多</b>: 
					<a href="https://github.com/buyanli95/info30005-Eos"><img src="../Public/img/Github-color.svg"></a>
					</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>