<!DOCTYPE html>
<html>
<head>
	<title>Project - SortingShop</title>
	<!-- responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 1024px) and (max-device-width: 2000px)" href="../Public/css/indexStyle.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 200px) and (max-device-width: 601px)" href="../Public/css/indexStyleTinyscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1025px)" href="../Public/css/indexStyleMidscreen.css" />
</head>
<body>
	<div class="container">
		<!-- topbar -->
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="../index.html"><p>Buyan Li</p></a>
			</div>
			<div class="rightBar">
				<div class="project">
					<p><a href="../index.html">Portfolio</a></p>
				</div>
				<div class="about">
					<p><a href="../Views/aboutme.html">About</a></p>
				</div>
				
			</div>
		</div>
		

		<div class="projects">
			<h1>SortingShop</h1>
			<p style="text-align: left;">This project has designed and implemented an <a href="https://en.wikipedia.org/wiki/Affinity_diagram">affinity diagramming</a> APP interface, which is meant to help the traditional brainstorming and diagramming processes more effective.</p> 
			
			<p style="text-align: left;">Inspired by a workshop of fieldwork for design that conduct in the University of Melbourne, our group find that nowadays, brainstorming meetings tend to use post-notes and white board to gather and categorize ideas. This method has been widely taken into pratice in real-world design companies and institutions, but it requires co-located colleagues and members' unbiased judgements, which is not easy to apply in a real group work.</p> 

			<p style="text-align: left;">Therefore, we proposed SortingShop, an online tool that conducts the same functionality as brainstorming and affinity diagramming, but allows remote meeting work and provides unbiased diagramming system. It's easy to start and get familiar and all the meeting result can be saved online and reviewed at any time.</p>

			<p style="text-align: left;">Tired of text? Watch a video here 👉 <a href="https://youtu.be/K-uofq7LBlo"><img src="../Public/img/Youtube-color.svg"></a></p>

			<!-- p1 -->
			<div class="project-sec" id="ssImg" style="margin-top: 3em;">
				<img src="../Public/img/SortingShop/p1-login.jpg">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">SortingShop is an application that can help co-working groups manage their ideas effectively and comprehensively. Multiple login channel provided.</p>
			</div>
			<!-- p2 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p2-NewOrJoin.jpg">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">User can choose to start a new discussion or join a current one, depends on what kind of role our user plays in his/her group.</p>
			</div>
			<!-- p3 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p3-new.jpg">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">If starting a new group, the following information will needed:
					<li>Group name</li>
					<li>Discussion topic</li>
					<li>Invite members</li></p>
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">The list of group members can be accessed from the SortingShop colleague list, or use code to invite people when the discussion was created.</p>
			</div>
			<!-- p3.2 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p3.2-code.jpg">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">After the discussion group was created, use the group code to invite members.</p>
			</div>
			<!-- p3.3 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p3.3-join.jpg">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">Otherwise, use the code to join a current discussion group, easy and done.</p>
			</div>
			<!-- p4 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p4-brainstorming.gif">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">Before any discussion happens, ideas must be gathered. Users can post his/her own ideas or proposals onto the idea pool, which can be seen by all the members in the group. </p>
			</div>
			<!-- p5 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p5-catogorize-scroll.gif">
				<img src="../Public/img/SortingShop/p5-categorize-drag.gif">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">Based on certain principles, our used can drag ideas from the idea pool and categorize them.</p>
			</div>
			<!-- p6 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p6-recat.gif">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">Or re-categorize some ideas from different categories.</p>
			</div>
			<!-- p7.1 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p7.1-result-zoom&drag.gif">
				<img src="../Public/img/SortingShop/p7.1-result-detail.gif">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">SortingShop gathers all the members’ categories and represent all the categories as a individual or overlapping circles, where the group can see different ideas of categorization.</p>
			</div>
			<!-- p7.2 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p7.2-cat-uncat-ideas.gif">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">The group can continue on further discussion and categorize those controversial ideas.</p>
			</div>
			<!-- p7.3 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p7.3-result-recat.gif">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">Categories can be modified at any time.</p>
			</div>
			<!-- p8 -->
			<div class="project-sec" id="ssImg">
				<img src="../Public/img/SortingShop/p8-profile.gif">
				<p style="text-align: center; max-width: 60%; position: relative; left: 20%;">User can check all the projects that he/she has participated from the user profile, including details of the group and the result.</p>
			</div>

			<div id="social">
				<p id="subpara" style="max-width: 100%;"><b>Skills</b>: <a href="https://zh.wikipedia.org/wiki/%E5%8E%9F%E5%9E%8B_(%E5%B7%A5%E7%A8%8B)">Prototyping</a>, <a href="https://www.sketchapp.com/">Sketch</a>, <a href="https://www.adobe.com/au/products/xd.html">Adobe XD</a></p>
				<p id="subpara" style="max-width: 100%;"><b>Colleague</b>: <a href="https://www.charlesw.cn/">Chao Wang</a>, <a href="mailto: wwang17@student.unimelb.edu.au">Wei Wang</a></p>
			</div>

			

		</div>
	</div>
</body>
</html>