<!DOCTYPE html>
<html>
<head>
	<title>Project - SparkPeople</title>
	<!-- responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 1024px) and (max-device-width: 2000px)" href="../Public/css/indexStyle.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-device-width: 600px)" href="../Public/css/indexStyle-tinyscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1024px)" href="../Public/css/indexStyle-midscreen.css" />
</head>
<body>
	<div class="container">
		<!-- topbar -->
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="../index.html"><p>Buyan Li</p></a>
			</div>
			<div class="rightBar">
				<div class="project">
					<p><a href="../index.html">Project</a></p>
				</div>
				<div class="about">
					<p><a href="../Views/aboutme.html">About</a></p>
				</div>
				<!-- language selector -->
				<div class="language">
					<p><a href="./Sparkpeople.html">EN</a> / <a href="">中</a></p>
				</div>
			</div>
		</div>
		

		<div class="projects">
			<h1>Usability Evaluation on SparkPeople</h1>
			<p>This project has planned and conducted an user-based usability evaluation of Sparkpeople website with overall 14 participants, including 4 tests in the <a href="https://cis.unimelb.edu.au/research/groups/interaction-design/">Interaction Design Lab</a>(with eye-tracking devices) and 10 tests in a normal project room.</p>
			<p>This study aims to evaluate the key functions of the SparkPeople website to identify usability flaws. These key functions aim to help their members track their health and to lose weight.</p>
			<p>In addition to evaluating the usability of each of these functions, the study focuses on first-time visitors to SparkPeople and their likelihood of returning to the website. A range of qualitative and quantitative measures was included in the study such as error and success rate, time to complete the tasks, number of clicks and screens visited, participant comments and user ranking.</p>

			<p id="subpara"><b>Skills</b>: <a href="https://en.wikipedia.org/wiki/Usability_Evaluation_(Us.E.)">Usability evaluation</a>, <a href="https://www.usability.gov/how-to-and-tools/methods/individual-interviews.html">Interviews</a>, <a href="https://zh.wikipedia.org/wiki/%E5%90%AF%E5%8F%91%E5%BC%8F%E8%AF%84%E4%BC%B0">Heuristic Evaluation</a></p>
					<p id="subpara"><b>Colleague</b>: <a href="mailto: kfromholtz@student.unimelb.edu.au">Kirsty Fromholtz</a>, <a href="mailto: yingw14@student.unimelb.edu.au">Ying Wang</a>, <a href="mailto: sawanta@student.unimelb.edu.au">Aneesh Rajiv Sawant</a></p>
					<p id="subpara"><b>Learn more</b>: 
					<a href="https://www.youtube.com/watch?v=nlxEzwAQwp8"><img src="./Public/img/Youtube-color.svg"></a>
					</p>
		</div>
	</div>
</body>
</html>