<!DOCTYPE html>
<html>
<head>
	<title>计划</title>
	<!-- responsive design -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1300px)" href="../Public/css/indexStyle.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 400px) and (max-device-width: 600px)" href="../Public/css/indexStyle-midscreen.css" />
</head>
<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="./index-cn.html"><p>李步妍</p></a>
			</div>
			<!-- language selector -->
			<div class="language">
				<p><a href="../Views/upcoming.html">EN</a> / <a href="">中</a></p>
			</div>
		</div>
		<!-- seperator line -->
		<hr class="seperator 100%">

		<!-- upcoming -->
		<div class="upcoming">
			<h1>计划</h1>
			<li>ANIKA Legal 网页开发实习（志愿项目）: 笔试</li>
			<li>墨尔本大学 - 研究生毕业</li>
		</div>

	</div>
</body>
</html>