<!DOCTYPE html>
<html>
<head>
	<title>Up Coming</title>
	<link rel="stylesheet" type="text/css" href="../Public/css/indexStyle.css">
</head>
<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="../index.html"><p>Buyan Li</p></a>
			</div>
			<!-- language selector -->
			<div class="language">
				<p><a href="">E</a> / <a href="../Views/upcoming-cn.html">中</a></p>
			</div>
		</div>
		<!-- seperator line -->
		<hr class="seperator 100%">

		<!-- upcoming -->
		<div class="upcoming">
			<h1>Up coming</h1>
		</div>

		<!-- make sure the file name is correct(local-did-not-detect-capital-words but git-did) -->
		<div class="socialmedia">
			<p>You can also find me at:</p>
				<a href="https://www.instagram.com/buyan.li/"><img src="../Public/img/Instagram-color.svg"></a>
				<a href="https://pin.it/y4vms2r6xb22it"><img src="../Public/img/Pinterest-color.svg"></a>
				<a href="https://www.linkedin.com/in/buyan-li-857322161/"><img src="../Public/img/LinkedIn-color.svg"></a>
				<a href="https://github.com/buyanli95"><img src="../Public/img/Github-color.svg"></a>
		</div>

	</div>
</body>
</html>