<!DOCTYPE html>
<html>
<head>
	<title>Project - VR Reading</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-device-width: 600px)" href="../Public/css/indexStyle-tinyscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1024px)" href="../Public/css/indexStyle-midscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 1024px) and (max-device-width: 2000px)" href="../Public/css/indexStyle.css"/>

</head>
<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="../index.html"><p>Buyan Li</p></a>
			</div>
			<!-- language selector -->
			<div class="language">
				<p><a href="">EN</a> / <a href="../Views/projects-cn.html">中</a></p>
			</div>
		</div>
		<!-- seperator line -->
		<hr class="seperator 100%">

		<div class="projects" id="vrread">
			<h1>Giant Island</h1>

			<div style="display: inline-block;" class="project-sec">
				
				<h2>Project Announcement</h2>
			<p style="text-align: left; max-width: 75%;">This project is under the supervision of the University of Melbourne, specifically under the course INFO90008 HCI Project that is part of the Master of Information Technology degree.</p>
			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>Stage 1<br>Motivation, Related work, Gap</h2>
				</div>
				<div class="right">
					<p><b>Motivation</b></p>
					<p><li>Tired of holding a thick book: What if books can float themselves? An actual book can not, but a virtual book definitely can!</li></p>
					<p><li>Virtual reading is very common in big screens, but in reality, VR has been widely used in education and entertaiment, but not in reading.</li></p>
					<p><li><a href="https://www.oculus.com/story-studio/films/henry/">'Henry'</a> by Oculus: an interactive book character.</li></p>
					<p><li>Awesome work done by Mike Alger, who made an <a href="https://www.youtube.com/watch?v=id86HeV-Vb8&t=96s&index=15&list=PLh34SjHwef6nKoysLCzjh9cge44E86I6Q">VR interface</a> that almost allow VR to be an substitute for PCs. </li></p>

					<p><b>Related work</b></p>
					<p>Reading has been always a very natural way of people obsorbing knowledge. We found that there have been a few studies focus on the virtual environment reading, they explored ways of presenting reading content, and media such as sounds effects that can be used for virtual reading.</p>
					<p>During reading, a single media effect brings less disturbing experience than multi-media effects. The multi-media effects should be carefully designed and tested for its reading experience.</p>
					<p>Among paging, scrolling and <a href="https://en.wikipedia.org/wiki/Rapid_serial_visual_presentation">RSVP</a>, while RSVP can be very effective acting as a prompt for notification, paging and scrolling remain as the most common ways of reading, which bring better reading experience and comprehension of content.</p>
					<p>With related studies that provide relevant guidelines, this project, therefore, will have those guidelines for the initial design and implementation.</p>

					<p><b>Gap</b></p>
					<p>VR + Reading</p>
				</div>
			</div>

			<!-- <div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>Stage 2<br>Design Iteration</h2>
				</div>
				<div class="right">
					<p>Among paging, scrolling and <a href="https://en.wikipedia.org/wiki/Rapid_serial_visual_presentation">RSVP</a>, while RSVP can be very effective acting as a prompt for notification, paging and scrolling remain as the most common ways of reading, which bring better reading experience and comprehension of content.</p>
					<p>With related studies that provide relevant guidelines, this project, therefore, will have t</p>
				</div>
			</div> -->

		</div>

	</div>
</body>
</html>