<!DOCTYPE html>
<html>
<head>
	<title>Project - VR Reading</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 0px) and (max-device-width: 600px)" href="../Public/css/indexStyle-tinyscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 600px) and (max-device-width: 1024px)" href="../Public/css/indexStyle-midscreen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 1024px) and (max-device-width: 2000px)" href="../Public/css/indexStyle.css"/>

</head>
<body>
	<div class="container">
		<!-- topbar -->
		<div class="topbar">
			<!-- logo -->
			<div class="logo">
				<a href="../index.html"><p>Buyan Li</p></a>
			</div>
			<!-- language selector -->
			<div class="language">
				<p><a href="">EN</a> / <a href="../Views/projects-cn.html">中</a></p>
			</div>
		</div>
		<!-- seperator line -->
		<hr class="seperator 100%">

		<div class="projects" id="vrread">
			<h1>Giant Island</h1>

			<div style="display: inline-block;" class="project-sec">
				
			<h2>Project Announcement</h2>
			<p style="text-align: left; max-width: 75%;">This project is under the supervision of the University of Melbourne, specifically under the course INFO90008 HCI Project that is part of the Master of Information Technology degree.</p>

			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>Stage 1<br>Motivation, Related work, Gap</h2>
				</div>
				<div class="right">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/YEAHEfRFSgE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<p><b>Motivation</b></p>
					<p><li>Tired of holding a thick book: What if books can float themselves? An actual book can not, but a virtual book definitely can!</li></p>
					<p><li>Virtual reading is very common in big screens, but in reality, VR has been widely used in education and entertaiment, but not in reading.</li></p>
					<p><li><a href="https://www.oculus.com/story-studio/films/henry/">'Henry'</a> by Oculus: an interactive book character.</li></p>
					<p><li>Awesome work done by Mike Alger, who made an <a href="https://www.youtube.com/watch?v=id86HeV-Vb8&t=96s&index=15&list=PLh34SjHwef6nKoysLCzjh9cge44E86I6Q">VR interface</a> that almost allow VR to be an substitute for PCs. </li></p>

					<p><b>Related work</b></p>
					<p>Reading has been always a very natural way of people obsorbing knowledge. We found that there have been a few studies focus on the virtual environment reading, they explored ways of presenting reading content, and media such as sounds effects that can be used for virtual reading.</p>
					<p>During reading, a single media effect brings less disturbing experience than multi-media effects. The multi-media effects should be carefully designed and tested for its reading experience.</p>
					<p>Among paging, scrolling and <a href="https://en.wikipedia.org/wiki/Rapid_serial_visual_presentation">RSVP</a>, while RSVP can be very effective acting as a prompt for notification, paging and scrolling remain as the most common ways of reading, which bring better reading experience and comprehension of content.</p>
					<p>With related studies that provide relevant guidelines, this project, therefore, will have those guidelines for the initial design and implementation.</p>

					<p><b>Gap</b></p>
					<p>VR + Reading</p>
				</div>
			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>Stage 2<br>Design Iteration</h2>
				</div>
				<div class="right">
					<p>Among paging, scrolling and <a href="https://en.wikipedia.org/wiki/Rapid_serial_visual_presentation">RSVP</a>, while RSVP can be very effective acting as a prompt for notification, paging and scrolling remain as the most common ways of reading, which bring better reading experience and comprehension of content.</p>
					<p>With related studies that provide relevant guidelines, this project, therefore, will have those guidelines for the initial design and implementation.</p>
					<p>in order to build an immersive virtual reading environment, there are two things need to be considered:<br>- How to present a book?<br>- What else can be put into the VE except the book content?</p>
					<p><b>Before design anything</b> <br>We interviewed about 10 people, basically just asking their feeling about virtual reading, none of them has the experience reading in VE more than 15 minutes. Most of them, especially young people, commented that reading with screens is exhausting enough and they think they couldn’t bear wearing a cumbersome headset while reading. <br>Since reading in VE is a very conceptual idea and those comments from our interviews are based on their imaginations instead of real-life experience. We still would like to create a VE that specifically used for reading, and to see if people will like it.</p>
					<p><b>Initial ideas - Reading Environment</b><br>Very similar to some fiction movies, we considered putting people into a virtual environment and they can have their own avatar as their virtual body(Similar to the <i><a href="https://www.imdb.com/title/tt0499549/">Avatar</a></i>), the environment could be private or open to other readers, people can self-define the environment(i.e. with different 3D environment), have their own playlist for a book, be able to walk around, etc.<br>
					However, because there are certain limitations of VR devices, some ideas have to remain in imagination. Having people sit still and read with a wearable device is the best solution for now, people can still moving around within a limited area, grabbing virtual things, and interacting with the environment.</p>
					<p><b>Initial ideas - Books</b><br>There will be virtual books that looks like actual books, or they were made into small screens. Both are grabable and free of gravity, so the user can leave them at wherever they want. <br>But its the <b>animation effects</b> that made our virtual books unique. Virtual books will have “alive” characters that jump out of the “page”, and sensory effects that help to re-create the scenario, in other words, to create an immersive reading environment.</p>
				</div>
			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>Stage 3<br>Initial Demo</h2>
				</div>
				<div class="right">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/mJHw3YCh7Tw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<p>The very initial implememtation, presenting vertical movable pages in virtual environment.</p>
					<p><li>Planets - Different books and its environment</li></p>
					<p><li>User use the VR joystick buttons to move pages and click buttons.</li></p>
				</div>
			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>Stage 4<br>Updated Demo</h2>
				</div>
				<div class="right">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/T9Q5a5TfKhQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<p>What were updated:</p>
					<p><b>User guide</b><br>A brief guidance to tell our user how to use VR joystick to read, specifically, turn "pages".</p>
					<p><b>Use plain text instead of pages.</b><br>Because some user commented that "moving pages" is somehow time-consuming, and pages were horizontally limited makes the whole reading a bit boring. We decided to 'free' the text into the environment.</p>
					<p><b>Empty background</b><br>Since backgroud act as an important immersive effect, it gives our user an initial impression of the story context. Free the text into the environment brings a problem: text could be hard to read when they overlapped with background with close colors. <br>In that case, we found an alternative solution that removes the background, letting book animations come out with the reading process, creating a 'growing' reading environment(i.e. background) that was built up gradually.</p>
					<p><b>More animation</b><br>Bring in an interactive story character, sound and haptic effects to create a unique multi-dimensional reading experience.</p>
					<p><b>What's not there?</b><br>A menu!<br>A menu that allows the user to adjust text size, text distance, sound volume, lightness of the environment. Because of the time limits, we made a trade-off to build a complete story with complete animations and leave the menu option for our future developers.</p>
				</div>
			</div>

			<div style="display: inline-block;" class="project-sec">
				<div class="left">
					<h2>Stage 4<br>User Study</h2>
				</div>
				<div class="right">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/di84VFHXFgU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<p>What could be done differently?<br><br>Interview a group of people at the very initial stage, collect their thinkings on VR reading, and invite exactly the same group of people to do the user study when the implementation is done, collect their comments and compare it with their previous ones. So the study result can be more persuasive.</p>
				</div>
			</div>

			<div class="project-sec">
			<p>For more detail, please visit:
			<a href="https://youtu.be/oOyPBuLZEpA"><img src="../Public/img/Youtube-color.svg"></a>
			<a href="https://github.com/buyanli95/GiantIsland"><img src="../Public/img/Github-color.svg"></a>
			<a href="https://docs.google.com/document/d/1PbXvPE84NHDh2lHxEO_-11vqy57aHqDk1lfik4Tl1Og/edit?usp=sharing"><img src="../Public/img/drive-color.svg"></a></p><br>
			<p>Or email me: <a href="mailto: buyanli95@gmail.com"><img src="../Public/img/Google-color.svg"></a></p>
			</div>
		</div>

	</div>
</body>
</html>