@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body{
    padding: 1em 1em;
    text-align: center;
}

.container{
    position: relative;
    padding: 10px 40px;
}

.topbar {
    max-width:100%; 
    overflow:auto;
    padding: 1em;
    _display: inline-block;
    font-size: 1.25em;
}
a{
    text-decoration: none;
    color: rgba(66, 66, 66, 0.6);
    color: #91B5F3;
}

.logo{
    position: relative;
    text-align: left;
    float: left;
}
.logo p{
    color: rgba(66, 66, 66, 0.6);
    font-weight: 300;
}
.logo p:hover{
    transition: all 1s;
    transform: scale(1.2);
}

.rightBar{
    float: right;
    display: flex;
}
.rightBar a{
    color: rgba(66, 66, 66, 0.6);
    font-weight: 300;
}
.project{
    padding-left: 1em;
}
.project a:hover{
    transition: all 0.5s;
    border-bottom: 0.1em solid rgba(66, 66, 66, 0.6);
    padding-bottom: 0.1em;
}
.about{
    padding-left: 1em;
}
.about a:hover{
    transition: all 0.5s;
    border-bottom: 0.1em solid rgba(66, 66, 66, 0.6);
    padding-bottom: 0.1em;
}
.language {
    padding-left: 1em;
}
.language a:hover{
    transition: all 0.5s;
    border-bottom: 0.1em solid rgba(66, 66, 66, 0.6);
    padding-bottom: 0.1em;
}


.seperator{
    color: #979797;
}

/*fonts*/
h1 {
    color: #424242;
    font-family: 'Comfortaa', cursive;
    font-weight: 50;
    font-size: 5em;
}

h2 {
    color: #424242;
    font-family: 'Comfortaa', cursive;
    font-weight: 25;
    font-size: 1.5em;
    position: relative;
}

p, li {
    font-family: 'Comfortaa', cursive;
    color: #424242;
}


/*about me */
.intro{
    max-width: 60%;
    margin:0 auto; 
    padding: 10px 0px;
}

.intro p{
    padding-bottom: 1em;
}

/*projects*/
.projects {
    padding: 10px;
    margin-bottom: 50px;
}

.projects h1 {
    text-align: left;
    color: #FFA6A6;
}
.projects h2 {
    text-align: left;
}
#subtitle {
    font-family: 'Comfortaa', cursive;
    color: rgba(66, 66, 66, 0.7);
    font-size: 0.4em; 
    margin: 0 auto;
}
#subpara {
    font-size: 0.75em;
    color: rgba(66, 66, 66, 0.7); 
    line-height: 0.5em;
}

.project-sec {
    /*background-color: rgba(245, 245, 245, 0.7);*/
    background-color: #ffffff;
    border-radius: 2%;
    max-width: 95%;
    margin:0 auto; 
    margin-bottom: 3em;
    padding: 1.5em;
    overflow:auto; 
    _display:inline-block;
}
.project-sec .left {
    max-width: 40%;
    float: left;
}
.project-sec .right {
    /*position: relative;*/
    /*left: 2.5em;*/
    max-width: 50%;
    float: right;
    text-align: left;
}

#social img {
    max-width: 5%;
    max-height: 5%;
    position: relative;
    top: 0.3em;
    margin-left: 0.75em;
    cursor: pointer;
    transition: all 0.6s;
}
#social img:hover{
    transform: scale(1.2);
}

.project-sec p{
    color: #5f5f5f;
}
.project-sec img {
    max-width: 5%;
    max-height: 5%;
    position: relative;
    top: 0.3em;
    margin-left: 0.75em;
}


/*up coming*/
.upcoming {
    text-align: left;
    font-family: 'Comfortaa', cursive;
    padding: 3em;
}
.upcoming h1{
    color: rgba(101,85,255,0.63);
}
.upcoming li {
    font-size: 1.3em; 
    padding: 1em;
    color: rgba(66, 66, 66, 0.64);
}

