@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #f1f1f1;
    background-position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 20px;
}

.container{
    position: relative;
    text-align: center;
    background-color: #fafafa;
    padding: 10px 40px;
}

.topbar {
    width:100%; 
    overflow:auto;
    _display: inline-block;
}
a{
    text-decoration: none;
    color: rgba(66, 66, 66, 6);
    color: #91B5F3;
}

.logo{
    position: relative;
    text-align: left;
    float: left;
}
.logo p{
    color: rgba(66, 66, 66, 0.6);
    font-weight: 300;
    font-size: 1em;
}

.language {
    float: right;
}
.language a {
    color: rgba(66, 66, 66, 0.6);
}

.seperator{
    color: #979797;
}

/*index section*/
.index {
    width:90%; 
    margin:150px auto; 
    overflow:auto; 
    _display:inline-block;
    text-align: center;
    padding: 30px;
}
.index #aboutme {
    width: 25%;
    height: 25%;
}
.index #indexcontent{
    width: 12%;
    height: 12%;
    padding: 100px;
}
.index #aboutme-cn {
    width: 28%;
    height: 28%;
}
.index #indexcontent-cn{
    width: 8%;
    height: 8%;
    padding: 100px;
}
.index img {
    cursor: pointer;
    transition: all 0.6s;
}
.index img:hover{
    transform: scale(1.2);
}

/*fonts*/
h1 {
    color: #424242;
    font-family: 'Comfortaa', cursive;
    font-weight: 50;
    font-size: 5em;
}

h2 {
    color: #424242;
    font-family: 'Comfortaa', cursive;
    font-weight: 25;
    font-size: 1.5em;
    position: relative;
}

/*h3{
    color: rgba(255, 255, 255, 71);
    font-family: 'Comfortaa', cursive;
    font-weight: 50;
    text-transform: uppercase;
    font-size: 3.5em;
    letter-spacing: 10px;
    
    position: relative;
    left: 105px;
    top: -95px;
}*/

p {
    font-family: 'Comfortaa', cursive;
    color: #424242;
}

/*about me */
.intro{
    width: 60%;
    margin:0 auto; 
    padding: 10px 0px;
}
/*about me social media*/
.socialmedia{
    font-family: 'Comfortaa', cursive;
    color: rgba(66, 66, 66, 0.64);
    font-weight: 10;
    width: 90%;
    margin:0 auto; 
    overflow:auto; 
    _display:inline-block;
    padding: 2em;
}
.socialmedia img{
    width: 2.5%;
    height: 2.5%;
    padding: 1em;
}

/*projects*/
.projects {
    padding: 10px;
    margin-bottom: 50px;
}

.projects h1 {
    text-align: left;
    color: #FFA6A6;
}
.projects h2 {
    text-align: left;
}
#subtitle {
    font-family: 'Comfortaa', cursive;
    color: rgba(66, 66, 66, 0.7);
    font-size: 0.4em; 
    margin: 0 auto;
}
#subpara {
    font-size: 0.75em;
    color: rgba(66, 66, 66, 0.7); 
    line-height: 0.5em;
}

.project-sec {
    width: 90%;
    margin:0 auto; 
    margin-bottom: 5em;
    overflow:auto; 
    _display:inline-block;
}
.project-sec .left {
    width: 40%;
    float: left;
}
.project-sec .right {
    margin-left: 4em;
    width: 50%;
    float: left;
    text-align: left;
}
.project-sec img {
    cursor: pointer;
    transition: all 0.6s;
}
.project-sec img:hover{
    transform: scale(1.2);
}
.project-sec p{
    color: #5f5f5f;
}
.project-sec img {
    width: 5%;
    height: 5%;
    position: relative;
    top: 0.3em;
    margin-left: 0.75em;
}

/*up coming*/

.upcoming {
    text-align: left;
    font-family: 'Comfortaa', cursive;
    padding: 3em;
}
.upcoming h1{
    color: rgba(101,85,255,0.63);
}
.upcoming li {
    font-size: 1.3em; 
    padding: 1em;
    color: rgba(66, 66, 66, 0.64);
}

