@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #f1f1f1;
    /*background-image: url("profile-img.svg");*/
    background-position: fixed;
    background-size: 120% 120%;
    background-repeat: no-repeat;
    padding: 0.25em 0.25em;
}
.container{
    position: relative;
    text-align: center;
    background-color: #fafafa;
    padding: 10px 40px;
    margin: 0 auto;
}
.topbar {
    max-width:100%; 
    overflow:auto;
    display: inline-block;
}
.rightbar{
    max-width: 40%;
}
a{
	text-decoration: none;
    color: #91B5F3;
}
.logo{
    position: relative;
    text-align: left;
    float: left;
}
.logo p{
    color: rgba(66, 66, 66, 0.6);
    font-weight: 300;
    font-size: 1em;
}
.language {
    float: right;
}
.language p{
	font-size: 1em;
}
.language a {
	color: rgba(66, 66, 66, 0.6);
}
.seperator{
    color: #979797;
    position: relative;
    top: -1em;
}

/*index section*/
.index {
    max-width:90%; 
    margin:0 auto; 
    overflow:auto; 
    text-align: center;
    padding-top: 2em;
    padding-bottom: 7.5em;
}
.index #aboutme {
    max-width: 75%;
    max-height: 75%;
    padding: 2em;
}
.index #indexcontent{
    max-width: 40%;
    max-height: 40%;
    padding: 1em;
}
.index #aboutme-cn {
    width: 75%;
    height: 75%;
    padding: 2em;
}
.index #indexcontent-cn{
    max-width: 25%;
    max-height: 25%;
    padding: 1em;
}
.index img {
    cursor: pointer;
    transition: all 0.6s;
}
.index img:hover{
    transform: scale(1.2);
}

/*about me */
.intro{
    max-width: 90%;
    margin:0 auto; 
    padding: 1em 0px;
    font-size: 0.9em;
}
/*about me social media*/
.socialmedia{
    font-family: 'Comfortaa', cursive;
    color: rgba(66, 66, 66, 0.64);
    font-weight: 10;
    max-width: 90%;
    margin:0 auto; 
    overflow:auto; 
    _display:inline-block;
}
.socialmedia img{
    max-width: 10%;
    max-height: 10%;
    padding: 1em;
    cursor: pointer;
    transition: all 0.6s;
}
.socialmedia img:hover{
    transform: scale(1.2);
}

/*projects*/
.projects {
    padding: 0.25em;
}
.projects h1 {
    text-align: left;
    color: #FFA6A6;
}
.projects h2 {
    text-align: left;
}
#subtitle {
    font-family: 'Comfortaa', cursive;
    color: rgba(66, 66, 66, 0.7);
    font-size: 0.4em; 
    margin: 0 auto;
}
#subpara {
    font-size: 0.75em;
    color: rgba(66, 66, 66, 0.7); 
    line-height: 1em;
}

.project-sec {
    max-width: 100%;
    margin:0 auto; 
    margin-bottom: 1em;
    overflow:auto; 
}
.project-sec .left {
    max-width: 100%;
    float: left;
}
.project-sec .right {
    max-width: 100%;
    float: left;
    text-align: left;
}
.video{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.project-sec img {
    cursor: pointer;
    transition: all 0.6s;
}
.project-sec img:hover{
    transform: scale(1.2);
}
.project-sec p{
    color: #5f5f5f;
}
.project-sec img {
    max-width: 10%;
    max-height: 10%;
    position: relative;
    top: 0.3em;
    margin-left: 1em;
}
.project-sec li{
    text-align: left; 
    position: relative;
    left: 42.5%; 
    max-width: 100%;
}

/*up coming*/
.upcoming {
    text-align: left;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 28em;
}
.upcoming h1{
    color: rgba(101,85,255,0.63);
}
.upcoming li {
    font-size: 1em; 
    color: rgba(66, 66, 66, 0.64);
    padding: 1em;
}